*.pyc
veceval_env/*
veceval/data/chunk/scripts/train.txt
veceval/data/chunk/train.pickle
veceval/data/ner/dev.pickle
veceval/data/ner/scripts/dev.txt
veceval/data/ner/scripts/train.txt
veceval/data/ner/train.pickle
veceval/data/nli/dev.pickle
veceval/data/nli/scripts/ppdb-sample.tsv
veceval/data/nli/train.pickle
veceval/data/pos/dev.pickle
veceval/data/pos/scripts/en-ptb.map
veceval/data/pos/scripts/tagset.txt
veceval/data/pos/train.pickle
veceval/data/questions/scripts/train.label
veceval/data/questions/train.pickle
veceval/data/sentiment/dev.pickle
veceval/data/sentiment/train.pickle
