*.pyc
veceval/data/chunk/train.txt
veceval/data/chunk/conll/train.pickle
veceval/data/ner/conll/dev.pickle
veceval/data/ner/conll/dev.txt
veceval/data/ner/conll/train.txt
veceval/data/ner/conll/train.pickle
veceval/data/nli/pptb/dev.pickle
veceval/data/nli/pptb/train.pickle
veceval/data/pos/wsj/dev.pickle
veceval/data/pos/tagset.txt
veceval/data/pos/wsj/train.pickle
veceval/data/questions/train.label
veceval/data/questions/trec/train.pickle
veceval/data/sentiment/treebank/dev.pickle
veceval/data/sentiment/treebank/train.pickle
