*.pyc
veceval/data/chunk/train.txt
veceval/data/chunk/train.pickle
veceval/data/ner/conll/dev.pickle
veceval/data/ner/conll/dev.txt
veceval/data/ner/conll/train.txt
veceval/data/ner/conll/train.pickle
veceval/data/nli/dev.pickle
veceval/data/nli/train.pickle
veceval/data/pos/dev.pickle
veceval/data/pos/tagset.txt
veceval/data/pos/train.pickle
veceval/data/questions/train.label
veceval/data/questions/train.pickle
veceval/data/sentiment/dev.pickle
veceval/data/sentiment/train.pickle
