cycler==0.10.0
cython==0.29.23
h5py==2.6.0
Keras==1.0.7
matplotlib==1.5.2
numpy==1.13.3
pyparsing==2.1.8
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.11
scikit-learn==0.17.1
scipy==1.1.0
six==1.10.0
sklearn==0.0
Theano==0.8.2
vecto==0.2.12
pandas==0.24.2